body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

.form {
  width: 40%;
  padding: 30px;
  background: #1e293b;
}

.form h2 {
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

.preview {
  width: 60%;
  padding: 40px;
  background: #f8fafc;
  color: #000;
}